{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    
  </p>
</div>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Achievements and performance</a>
    </li>
  </ol>
</div>
  

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        
        <h1 class="govuk-heading-xl">Achievement rates 2022/23</h1>

      </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
   
    <div class="govuk-form-group">
      <label class="govuk-label" for="width-20">
        Select apprenticeship<title></title>
      </label>
      <!--<div id="subject-hint" class="govuk-hint">
        This can be different to where you went before
      </div>-->
      <select class="govuk-select" id="width-20" id="subject" name="subject" aria-describedby="subject-hint">
        <option value="choose" selected>Select all</option>
        <option value="eastmidlands">Select none</option>
        <option value="eastofengland">Able seafarer</option>
        <option value="london">Accounting</option>
        <option value="northeast">Activity leadership</option>
        <option value="northwest">Adult care worker</option>
        <option value="southeast">Animal care</option>
      </select>
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="width-20">
        Select level<title></title>
      </label>
      <!--<div id="subject-hint" class="govuk-hint">
        This can be different to where you went before
      </div>-->
      <select class="govuk-select" id="width-20" id="subject" name="subject" aria-describedby="subject-hint">
        <option value="choose" selected>Select all</option>
        <option value="eastmidlands">-1</option>
        <option value="eastofengland">2</option>
        <option value="london">3</option>
        <option value="northeast">4</option>
        <option value="northwest">5</option>
        <option value="southeast">6</option>
      </select>
    </div>


    <div class="govuk-form-group">
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Home</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Exclusions</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Demographics</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Subject sector area</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Framework and standards</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Subcontractors</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Campus</a>
        </li>
      </ul>
    </div>
  </div>

  
  <div class="govuk-grid-column-three-quarters">  
    <nav class="app-sub-navigation" aria-label="Sub navigation">

      <ul class="app-sub-navigation__list">

    
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link"  href="#">Education and training</a>
            </li>


            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link"  aria-current="page" href="dash-start">Apprenticeships</a>
            </li>

            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link"  href="#">Traineeships</a>
            </li>
          
        </ul>
    
    </nav>
    <div class="govuk-grid-row tile-group">

      <div class="govuk-grid-column-one-half tile">
              <a class="grey min-height-small" href="#">
                  <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Achievement rate</span>
                  
              </a>
              <div class="govuk-body warning-info-2">4.0%</div>
              <span id="ob1" class="govuk-body onboarding-info">
                  
                  
                 
                   
                  <a href="#" class="govuk-button govuk-!-margin-top-2 next">Next</a> 
              </span>
          </div>




      <div class="govuk-grid-column-one-half tile">
              <a class="grey min-height-small" href="#">
                  <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Retention rate</span> <br>
                  <span class="govuk-body govuk-!-font-size-16"></span>
              </a>
              <div class="govuk-body warning-info-2">77.0%</div>
              <span id="ob6" class="govuk-body onboarding-info">
                      <div class="arrow-up"></div>
                      <a class="close" href="#">Close</a>
                      View reports
                       <br>
                      <a href="#" class="govuk-button govuk-!-margin-top-2 next6">Next</a> 
                  </span>
          </div>

          <div class="govuk-grid-column-one-half tile">
            <a class="grey min-height-small" href="#">
                <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Pass rate</span>
                
            </a>
            <div class="govuk-body warning-info-2">28.9%</div>
            <span id="ob1" class="govuk-body onboarding-info">
                
                
               
                 
                <a href="#" class="govuk-button govuk-!-margin-top-2 next">Next</a> 
            </span>
        </div>




    <!--<div class="govuk-grid-column-one-half tile">
            <a class="grey min-height-small" href="#">
                <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Quality Achievement Rate (QAR)</span> <br>
                <span class="govuk-body govuk-!-font-size-16"></span>
            </a>
            <div class="govuk-body warning-info-2">2018/19</div>
            <span id="ob6" class="govuk-body onboarding-info">
                    <div class="arrow-up"></div>
                    <a class="close" href="#">Close</a>
                    View reports
                     <br>
                    <a href="#" class="govuk-button govuk-!-margin-top-2 next6">Next</a> 
                </span>
        </div>-->

    </div>
    <p></p>
    
    

    
    






          

    </div>

    
   
  
        </div>
      </div>
    </main>
  </div>
</div>

  

         
      


{% endblock %}